<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>corp.sap.PowerMonitor.xpc</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>corp.sap.PowerMonitorDaemon</string>
	<key>Program</key>
	<string>/Applications/Power Monitor.app/Contents/MacOS/PowerMonitorDaemon</string>
	<key>AssociatedBundleIdentifiers</key>
	<string>corp.sap.PowerMonitor</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
